<div class="flex flex-col place-content-center mx-4 md:mx-8 xl:mx-24">
  @if(postListResource.isLoading()){
  <app-shared-loading />
  } @else if (postListResource.error()){
  <app-shared-error [resource]="postListResource" />
  } @else if (postListResource.hasValue()){
  <div class="flex flex-col gap-8">
    @for (post of postListResource.value(); track $index) {
    <div
      class="p-2 border border-gray-300 dark:border-gray-600 bg-slate-100 dark:bg-gray-800 rounded-xl">
      <app-shared-post-detail-minimized [post]="post" />
    </div>
    }
  </div>
  }
</div>
