<flowbite-navbar [isFixed]="true">
  <flowbite-navbar-brand flowbiteRouterLink routerLink="/">
    <flowbite-icon
      class="h-8"
      svgIcon="flowbite-angular-logo"
      alt="Flowbite Logo" />
    <span
      class="hidden xl:block self-center text-2xl font-semibold whitespace-nowrap dark:text-white">
      Angular monorepo
    </span>
  </flowbite-navbar-brand>
  <flowbite-navbar-content>
    @if(authService.hasValidAccessToken()){
    <flowbite-navbar-item
      flowbiteRouterLink
      flowbiteRouterLinkActive
      [routerLink]="['/', 'post']"
      [routerLinkActiveOptions]="{ exact: true }">
      Posts
    </flowbite-navbar-item>
    <flowbite-navbar-item (click)="authService.logout()">
      <svg
        class="w-6 h-6 text-gray-800 dark:text-white"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        fill="none"
        viewBox="0 0 24 24">
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M20 12H8m12 0-4 4m4-4-4-4M9 4H7a3 3 0 0 0-3 3v10a3 3 0 0 0 3 3h2" />
      </svg>
    </flowbite-navbar-item>
    } @else {
    <flowbite-navbar-item (click)="authService.login()">
      <svg
        class="w-6 h-6 text-gray-800 dark:text-white"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        fill="none"
        viewBox="0 0 24 24">
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M16 12H4m12 0-4 4m4-4-4-4m3-4h2a3 3 0 0 1 3 3v10a3 3 0 0 1-3 3h-2" />
      </svg>
    </flowbite-navbar-item>
    }
    <flowbite-dark-theme-toggle />
  </flowbite-navbar-content>
</flowbite-navbar>

<div
  class="pt-20 pb-2 lg:px-48 min-h-screen mx-auto bg-slate-50/50 dark:bg-slate-900/85 text-black dark:text-white">
  <router-outlet />
</div>
