<flowbite-navbar [isFixed]="true">
  <flowbite-navbar-brand flowbiteRouterLink routerLink="/">
    <flowbite-icon
      class="h-8"
      svgIcon="flowbite-angular-logo"
      alt="Flowbite Logo" />
    <span
      class="hidden xl:block self-center text-2xl font-semibold whitespace-nowrap dark:text-white">
      Angular monorepo
    </span>
  </flowbite-navbar-brand>
  <flowbite-navbar-toggle />
  <flowbite-navbar-content>
    @if(authService.hasValidAccessToken()){
    <flowbite-navbar-item
      flowbiteRouterLink
      flowbiteRouterLinkActive
      [routerLink]="['/', 'post']"
      [routerLinkActiveOptions]="{ exact: true }">
      Posts
    </flowbite-navbar-item>
    <flowbite-navbar-icon-button color="black" (click)="authService.logout()">
      <flowbite-icon
        svgIcon="outline:arrow-right-to-bracket"
        class="w-5 h-5 block stroke-2" />
    </flowbite-navbar-icon-button>
    } @else {
    <flowbite-navbar-icon-button color="black" (click)="authService.login()">
      <flowbite-icon
        svgIcon="outline:arrow-left-to-bracket"
        class="w-5 h-5 block stroke-2" />
    </flowbite-navbar-icon-button>
    }
    <flowbite-dark-theme-toggle />
  </flowbite-navbar-content>
</flowbite-navbar>

<div
  class="pt-20 pb-2 lg:px-48 min-h-screen mx-auto bg-slate-50/50 dark:bg-slate-900/85 text-black dark:text-white">
  <router-outlet />
</div>
